
body {
	margin: 0;  padding: 0;  margin-bottom: 15px;  margin-top: 8px;
	background: #77b;
}
body, td {
	font: 0.96em/1.3em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	}

#subTitle {
	background: #000;  color: #fff;  padding: 4px;  font-weight: bold; 
	}

/*
	Width for "#siteNavigation td" based on number of buttons
	Six:  16.6%
*/
#siteNavigation td { width: 16.6%; }
#siteNavigation a {
	display: block;  padding: 2px;
	text-align: center;  font-weight: bold;  color: #448; /* font-size: 12px; */ background-color: #99c;
	}
#siteNavigation a:link    { text-decoration: none; }
#siteNavigation a:visited { text-decoration: none; }
#siteNavigation a:hover   { text-decoration: none;  background-color: #fff;  color: #000; }
#siteNavigation a:active  { text-decoration: none;  background-color: #ccc; }

a:link    { text-decoration: underline;  color: #00f; }
a:visited { text-decoration: underline;  color: #000; }
a:hover   { text-decoration: underline;  color: #c00; }
a:active  { text-decoration: underline; }



#pageContent {
	clear: both;
	border-bottom: 6px solid #000;
	padding: 10px;  padding-top: 20px;
	line-height: 1.65em;
	background-image: url(images/bg_rings.png);
	background-repeat: no-repeat;
	background-position: top right;
	}
#pageContent p { margin: 0;  margin-bottom: 30px; }



#pageContent, #siteNavigation {
	background-color: #ccd;
	}

.tableWidth { min-width: 573px; }


/* ----------------------------------- */


.imgLeft  { float: left;   margin-right: 10px;  margin-bottom: 10px; }
.imgRight { float: right;  margin-left: 10px;   margin-bottom: 10px; }

hr { height: 1px;  color: #000;  background-color: #000;  margin-bottom: 15px; }

h1 { margin: 0;  font-weight: bold;  font-size: 2em; }
h2 { margin: 0;  font-weight: bold;  font-size: 1.6em; }
h3 { margin: 0;  font-weight: bold;  font-size: 1.3em; }

.blak { background-color: #000; }
.hide { display: none; }


